* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: 434343;
  background: #dae3e7;
  font-size: 16px;
  line-height: 24px;
}

img.img-rounded {
  object-fit: cover;
  border-radius: 50%;
}

.header {
  height: 250px;
  padding: 30px 0;
  background: #f5f5f5;
  border-top: 10px solid #778492;
}

.header .profile-img {
  margin-right: 30px;
}

.header .profile-content .name {
  color: #49515a;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.header .profile-content .desc {
  color: #778492;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}

.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  margin-bottom: 30px;
}

.section-content {
  background: #fff;
  padding: 30px;
}

.info ul {
  margin-bottom: 0;
}

.info li {
  margin-bottom: 15px;
}
